@using Bands.Domains
@using Bands.Domains.Models
@using Bands.WEB.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}


    <h6 class="@ManageNavPages.ChangePasswordNavClass(ViewContext) password-manage"><a asp-action="ChangePassword">Manage Password</a></h6>


