@using Bands.DAL
@using Bands.Domains
@using Bands.Domains.Models
@using Microsoft.AspNetCore.Identity
@using Bands.WEB.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <div class="nav-item ">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img id="user-dropdown" class="icon" src="/images/user-icon.png" alt="@UserManager.GetUserAsync(User).Result.FirstName"/>
            </a>
            <div class="dropdown-container" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserAsync(User).Result.FirstName</a>
                <hr/>
                <button type="submit" class="dropdown-item">Log out</button>
            </div>
        </div>
    </form>
}
else
{
    <div class="nav-item">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img id="user-dropdown" class="icon" src="https://image.flaticon.com/icons/png/512/23/23228.png" alt="User"/>
        </a>
        <div class="dropdown-container" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
        </div>
    </div>
}
