
@{
    ViewData["Title"] = "Bands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bands</h2>

@using Bands.Domains.Models
@model IEnumerable<Bands.Domains.Models.Band>

@foreach (var band in Model)
{
    <div class="element">
        <label>Band Name</label><p>@band.BandName</p>
    </div>
}
