@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/homepage.css" rel="stylesheet" />
<div class="row row-height">
    <div class="col-sm-5 text-container">
        <h3 class="info" >The best place in the world to find musicians interested with simmilar intererests that you have!</h3>
    </div>
    <div class="col-sm-7 ">
        <img src="http://www.glitchfreegaming.com/wp-content/uploads/2015/11/RockBand4-KeyArt.jpg" alt="noband" class="image-homescreen"/>
    </div>
</div>
<div class="row row-height">
    <div class="col-sm-5 ">
        <img src="http://www.glitchfreegaming.com/wp-content/uploads/2015/11/RockBand4-KeyArt.jpg" alt="noband" class="image-homescreen" />

    </div>
    <div class="col-sm-7 text-container">
        <h3 class="info">The best place in the world to find musicians interested with simmilar intererests that you have!</h3>
    
    </div>
</div>
<div class="row row-height">
    <div class="col-sm-5 text-container">
        <h3 class="info">The best place in the world to find musicians interested with simmilar intererests that you have!</h3>
    </div>
    <div class="col-sm-7">
        <img src="http://www.glitchfreegaming.com/wp-content/uploads/2015/11/RockBand4-KeyArt.jpg" alt="noband" class="image-homescreen" />
    </div>
</div>