@using Bands.WEB.Models.ViewModels
@model IEnumerable<MusicianViewModel>

@{
    ViewData["Title"] = "Musicians";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<input type="hidden" id="search-query" value="@ViewData["SearchQuery"]">
@if (!Model.Any())
{
    <div class="alert alert-danger hidden all-width">@ViewData["StatusMessage"]</div>
}
<div id="musician-list-content">
    @foreach (var musician in Model)
    {
        @Html.Partial("MusicianShowTemplate", musician)
    }
</div>
<div id="loading" class="text-center hidden all-width"><img class="icon" src="~/icons/loading.gif" /></div>
<script>
    $(document).ready(
        function () {
            var pageNumber = 0;
            var win = $(window);

            var allDataLoaded = false;

            win.scroll(function () {
                if (allDataLoaded)
                    return;
                if ($(document).height() - win.height() == win.scrollTop()) {
                    pageNumber += 1;

                    $('#loading').show();

                    var query = $("#search-query").val();

                    var url = 'MusiciansPage?pageNumber=' + pageNumber;

                    if (query !== '')
                        url += "&name=" + query;

                    $.ajax({
                        url: url,
                        dataType: 'html',
                        success: function (html) {
                            if (parseInt($(html).filter("#musicians-count").val()) < 5)
                                allDataLoaded = true;
                            $('#musician-list-content').append(html);
                            $('#loading').hide();
                        }
                    });
                }
            });
        });
</script>