@using Bands.WEB.Models.ViewModels
@model IEnumerable<MusicianViewModel>

@{
    ViewData["Title"] = "Musicians";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<input type="hidden" id="search-query" value="@ViewData["SearchQuery"]">
@if (!Model.Any())
{
    <div class="alert alert-danger all-width">@ViewData["StatusMessage"]</div>
}
<div id="musician-list-content">
    @foreach (var musician in Model)
    {
        @Html.Partial("MusicianShowTemplate", musician)
    }
</div>
<div id="loading" class="text-center hidden all-width"><img class="icon" src="~/icons/loading.gif" /></div>
<script src="~/js/paginate.js"></script>