
@{
    ViewData["Title"] = "Musicians";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Musicians</h2>

@using Bands.WEB.Models.ViewModels
@model IEnumerable<MusicianViewModel>


@foreach (var musician in Model)
{
    @Html.Partial("MusicianShowTemplate",musician)
}
