html, body {
    height: 100%;
    margin: 0px;
    min-width: 300px;
}

.outerPage {
    background-color: #afafaf;
    height: calc(100%+30px);
    padding: 1%;
}

.mainBlock {
    height: 100%;
    padding: 15px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
footer {
    text-align: center;
}
.element 
{
    padding: 10px;
    margin-bottom:10px; 
    width:100%;
    height: 200px;
    border: 1px solid #000;
}
#sign-up-form {
    margin-top: 20px;
    margin-left: 25%;
    padding: 15px;
    height: 100%;
    background-color: #b3cad1;
    width: 50%;
    border-radius: 5px;
}

.submit-button {
    width: 100%;
    text-align: center;
}
textarea {
    resize: none;
}
@media only screen and (max-width: 800px) {
    #sign-up-form {
        width: 100%;
        margin-left: 0px;
    }
}
.required-field 
{
    color: red;
}
.input-label {
    font-size: 13px;
    font-style: normal;
}
#interests-container {
    display: none;
    padding: 10px;
    background-color: #ffffff;
    width: 100%;
    border: 1px solid #00000030;
}
.user-interest {
    max-height: 30px;
    max-width: 50%;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #00000030;
    padding: 5px;
    margin: 5px;
    margin-right: 10px;
}
.cross-icon {
    display: inline-block;
    margin-left: 5px;
}
.interest-name {
    display: inline-block;  
    text-overflow: ellipsis;
}