html, body {
    height: 100%;
    margin-top: 0;
    min-width: 300px;
}

.outerPage {
    background-color: #afafaf;
    padding: 1%;
}

.mainBlock {
    min-height: -webkit-calc(100vh - 71px);
    min-height: -webkit-calc(100vh - 71px);
    min-height: -webkit-calc(100vh - 71px);
    padding: 15px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

footer {
    height: 50px;
    width: 100%;
    position: absolute;
    border-top: 1px solid #00000080;
    text-align: center;
    padding: 10px;
    background-color: #afafaf;
}

.element {
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #00000020;
    background-color: #cfcfcf;
    box-shadow: 2px 2px 20px #888888;
}

/*forms*/
.generic-form {
    margin-top: 20px;
    padding: 15px;
    background-color: #cfcfcf;
    border-radius: 5px;
    box-shadow: 2px 2px 20px #888888;
}

.sign-up-form {
    margin-left: 25%;
    width: 50%;
}

.sign-in-form {
    margin-left: 35%;
    width: 30%;
}

.user-data-form {
    margin-left: 15%;
    width: 70%;
}

.submit-button {
    width: 100%;
    text-align: center;
}

textarea {
    resize: none;
}

@media only screen and (max-width: 800px) {
    .sign-up-form {
        width: 100%;
        margin-left: 0px;
    }
}

.required-field {
    color: red;
}

.input-label {
    font-size: 13px;
    font-style: normal;
}
/* Interests */
#interests-container {
    margin-top: 10px;
    display: none;
    padding: 4px;
    border-radius: 4px;
    background-color: #ffffff;
    width: 100%;
    border: 1px solid #00000030;
}

.user-interest {
    margin-bottom: 2px;
    margin-top: 2px;
    max-height: 30px;
    max-width: 100%;
    display: inline-block;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #00000030;
    padding: 2px;
    margin-right: 4px;
}

.cross-icon {
    display: inline-block;
    margin-left: 4px;
    cursor: pointer;
    z-index: 100;
}

    .cross-icon:hover {
        color: #000000aa;
    }

.interest-name {
    display: inline-block;
}
/*-----Autocompletes------*/
.dropdown-element {
    padding: 5px;
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    width: 100px;
    display: block;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #00000030;
}

ul {
    list-style-type: none;
}

.hidden {
    display: none;
}

.top-bar-custom {
    background-color: #fff;
    max-height: 50px;
}

.icon {
    height: 25px;
    width: 25px
}

    .icon:hover {
        color: #000000aa;
    }

.ui-helper-hidden-accessible {
    display: none;
}

.popupUser {
    margin-right: 30px;
}

.dropdown-container {
    background-color: #fff;
    position: absolute;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #00000030;
    display: none;
    z-index: 100;
}

.dropdown-container-left {
    left: 5px;
}

.dropdown-container-right{
    right: 5px;
}

.line-right {
    border-right: 1px solid #00000030;
}

.tooltip-title {
    background-color: #fff;
    height: 50px;
    width: 100px;
    border-radius: 4px;
    border: 1px solid #00000030;
}
