@model RegisterDataViewModel
@{
    ViewData["Title"] = "Register";
}
    <!--new form-->
    <form id="sign-up-form" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
       <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="RegisterViewModel.FirstName"></label>
            <input asp-for="RegisterViewModel.FirstName" class="form-control" placeholder="First Name..."/>
            <span asp-validation-for="RegisterViewModel.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RegisterViewModel.LastName"></label>
            <input asp-for="RegisterViewModel.LastName" class="form-control" placeholder="Last Name..."/>
            <span asp-validation-for="RegisterViewModel.LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RegisterViewModel.Email"></label>
            <input asp-for="RegisterViewModel.Email" class="form-control" placeholder="Email..." />
            <span asp-validation-for="RegisterViewModel.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RegisterViewModel.Password"></label>
            <input asp-for="RegisterViewModel.Password" class="form-control" placeholder="Password..."/>
            <span asp-validation-for="RegisterViewModel.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RegisterViewModel.ConfirmPassword"></label>
            <input asp-for="RegisterViewModel.ConfirmPassword" class="form-control"placeholder="Confirm Password..." />
            <span asp-validation-for="RegisterViewModel.ConfirmPassword" class="text-danger"></span>
        </div>
        <!--City-->
        <!--Country-->
        <!--MusicianType-->
        <div class="form-group">
            <label asp-for="RegisterViewModel.Description"></label>
            <span asp-validation-for="RegisterViewModel.Description" class="text-danger"></span>
            <textarea asp-for="RegisterViewModel.Description" class="form-control"rows="3" placeholder="Description..."></textarea>

        </div>
        <div class="submit-button">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
    <!--new form-->

@section Scripts 
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
